<script context="module">
  import { client } from "../graphql/client";
  import { GET_PROVIDERS } from "../graphql/queries/provider_stats";

  export async function preload() {
    return {
      cache: await client.query({
        query: GET_PROVIDERS,
      }),
    };
  }
</script>

<script>
  import Nav from "../components/Nav.svelte";
  import Footer from "../components/Footer.svelte";
  import SideMenu from "../components/SideMenu.svelte";
  import { onMount } from "svelte";
  import { providers } from "../stores/search";
  import { fly } from "svelte/transition";

  export let cache;
  export let segment;

  let availableProviders = cache.data.providers;

  providers.set(cache.data.providers.map((provider) => provider.name));

  onMount(async () => {
    await import("@fortawesome/fontawesome-free/js/all.min");
  });
</script>

<style global lang="scss">
  @import "src/styles/global";
</style>

<Nav {segment} />

<div class="container is-fluid has-padding-top-5 has-padding-bottom-50">
  <div class="columns">
    {#if segment == undefined}
      <div
        class="column is-one-fifth"
        in:fly={{ duration: 300, x: -100 }}
        out:fly={{ duration: 300, x: -100 }}>
        <SideMenu {availableProviders} />
      </div>
    {/if}
    <div class="column">
      <main>
        <slot />
      </main>
    </div>
  </div>
</div>

<Footer />
