<script>
  import { fadeIn, fadeOut } from "../transitions/animations";

  let tools = [
    { img: "/svelte.svg", name: "Svelte", url: "https://svelte.dev" },
    { img: "/sapper.svg", name: "Sapper", url: "https://sapper.svelte.dev" },
    { img: "/bulma.png", name: "Bulma", url: "https://bulma.io" },
    { img: "/sass.svg", name: "Sass", url: "https://sass-lang.com" },
    {
      img: "/fontawesome.svg",
      name: "Font Awesome",
      url: "https://fontawesome.com",
    },
    { img: "/eslint.svg", name: "ESLint", url: "https://eslint.org" },
    { img: "/prettier.png", name: "Prettier", url: "https://prettier.io" },
    { img: "/rollup.svg", name: "Rollup", url: "https://rollupjs.org" },
    { img: "/babel.svg", name: "Babel", url: "https://babeljs.io" },
    {
      img: "/autoprefixer.png",
      name: "Autoprefixer",
      url: "https://autoprefixer.github.io",
    },
    { img: "/yarn.svg", name: "Yarn", url: "https://yarnpkg.com" },
    {
      img: "/polka.png",
      name: "Polka",
      url: "https://github.com/lukeed/polka",
    },
    {
      img: "/apollo.svg",
      name: "Apollo",
      url: "https://www.apollographql.com",
    },
    { img: "/graphql.svg", name: "GraphQL", url: "https://graphql.org" },
    { img: "/rust.svg", name: "Rust", url: "https://www.rust-lang.org" },
    {
      img: "/cargo.png",
      name: "Cargo",
      url: "https://doc.rust-lang.org/cargo",
    },
    { img: "/actix.png", name: "Actix", url: "https://actix.rs" },
    {
      img: "/juniper.png",
      name: "Juniper",
      url: "https://github.com/graphql-rust/juniper",
    },
    { img: "/tokio.png", name: "Tokio", url: "https://tokio.rs" },
    { img: "/arcgis.png", name: "ArcGIS", url: "https://www.arcgis.com" },
    { img: "/mongodb.svg", name: "MongoDB", url: "https://www.mongodb.com" },
    { img: "/heroku.svg", name: "Heroku", url: "https://www.heroku.com" },
    { img: "/docker.png", name: "Docker", url: "https://www.docker.com" },
    { img: "/gitlab.svg", name: "GitLab", url: "https://gitlab.com" },
  ];
</script>

<style lang="scss">
  .tool-image {
    max-height: 100px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
</style>

<svelte:head>
  <title>About · EventFindr</title>
</svelte:head>

<div class="container" in:fadeIn out:fadeOut>
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">About EventFindr</h1>
      </div>
    </div>
  </section>

  <p>Project done as a free school project.</p>
  <br />

  <h4 class="title is-4">Powered by :</h4>
  <div class="columns is-multiline is-vcentered is-centered">
    {#each tools as tool}
      <div class="column is-2-desktop is-one-third-tablet">
        <a href={tool.url} target="_blank">
          <figure class="image">
            <img
              class="tool-image"
              src={tool.img}
              alt={tool.name}
              title={tool.name} />
          </figure>
        </a>
      </div>
    {/each}
  </div>
</div>
