<script>
  import { client } from "../graphql/client";
  import { GET_EVENTS } from "../graphql/queries/event";
  import { query } from "svelte-apollo";
  import EventList from "../components/EventList.svelte";
  import SvelteInfiniteScroll from "svelte-infinite-scroll";
  import { fadeIn, fadeOut } from "../transitions/animations";
  import {
    featuredOnly,
    orderBy,
    providers,
    startDate,
    endDate,
  } from "../stores/search";

  let y;
  let page = 0;
  let newEntriesAvailable = true;
  let isLoading = false;
  let featuredOnlyValue = true;
  let orderByValue;
  let providersValue;
  let startDateValue;
  let endDateValue;

  const resetScroll = () => {
    page = 0;
    y = 0;
    newEntriesAvailable = true;
    isLoading = false;
  };

  featuredOnly.subscribe((value) => {
    resetScroll();
    featuredOnlyValue = value;
  });
  orderBy.subscribe((value) => {
    resetScroll();
    orderByValue = value;
  });
  providers.subscribe((value) => {
    resetScroll();
    providersValue = value;
  });
  startDate.subscribe((value) => {
    resetScroll();
    startDateValue = value;
  });
  endDate.subscribe((value) => {
    resetScroll();
    endDateValue = value;
  });

  const data = query(client, {
    query: GET_EVENTS,
    variables: {
      page,
      featuredOnly: featuredOnlyValue,
      orderBy: orderByValue,
      providerFilter: providersValue,
      startDate: startDateValue,
      endDate: endDateValue,
    },
  });

  $: data.refetch({
    featuredOnly: featuredOnlyValue,
    orderBy: orderByValue,
    providerFilter: providersValue,
    startDate: startDateValue,
    endDate: endDateValue,
  });

  async function fetchMoreEvents() {
    page++;
    isLoading = true;
    await data.fetchMore({
      variables: {
        page,
        featuredOnly: featuredOnlyValue,
        orderBy: orderByValue,
        providerFilter: providersValue,
        startDate: startDateValue,
        endDate: endDateValue,
      },
      updateQuery: (previousResult, { fetchMoreResult }) => {
        const newEntries = fetchMoreResult.events;
        if (newEntries.length == 0) {
          newEntriesAvailable = false;
        }
        return {
          events: [...previousResult.events, ...newEntries],
        };
      },
    });
    isLoading = false;
  }
</script>

<svelte:window bind:scrollY={y} />

<svelte:head>
  <title>Homepage · EventFindr</title>
</svelte:head>

<div class="container" in:fadeIn out:fadeOut>
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        {#if $featuredOnly}
          <h1 class="title" in:fadeIn out:fadeOut>Featured events</h1>
        {:else}
          <h1 class="title" in:fadeIn out:fadeOut>Events</h1>
        {/if}
      </div>
    </div>
  </section>
  {#await $data}
    <progress class="progress is-primary" max="100" />
  {:then result}
    <EventList {page} events={result.data.events} />
    {#if result.data.events.length > 0}
      <SvelteInfiniteScroll
        window
        threshold={100}
        hasMore={newEntriesAvailable}
        on:loadMore={() => {
          if (!isLoading) {
            fetchMoreEvents();
          }
        }} />
      {#if newEntriesAvailable && result.data.events.length === 10}
        <progress class="progress is-primary" max="100" />
      {:else}
        <div>No more events</div>
      {/if}
    {/if}
  {:catch error}
    <div>Error: {error}</div>
  {/await}
</div>
