<script context="module">
  import { client } from "../graphql/client";
  import { GET_PROVIDERS_STATS } from "../graphql/queries/provider_stats";

  export async function preload() {
    return {
      cache: await client.query({
        query: GET_PROVIDERS_STATS,
      }),
    };
  }
</script>

<script>
  import { fadeIn, fadeOut } from "../transitions/animations";

  export let cache;
  let providersStats = cache.data.providersStats;
</script>

<svelte:head>
  <title>Stats · EventFindr</title>
</svelte:head>

<div class="container" in:fadeIn out:fadeOut>
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">Stats</h1>
      </div>
    </div>
  </section>
  <nav class="level">
    {#each providersStats as providerStats}
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">{providerStats.provider}</p>
          <p>
            <span class="title">{providerStats.eventsNumber}</span>
            <span class="subtitle">events</span>
          </p>
        </div>
      </div>
    {/each}
  </nav>
</div>
