<script context="module">
  import { client } from "../../graphql/client";
  import { SEARCH_EVENTS_BY_GEOLOCATION } from "../../graphql/queries/event";
  import fetch from "node-fetch";

  export async function preload(page) {
    const { magicKey } = page.params;
    const url = new URL(
      "https://geocode.arcgis.com/arcgis/rest/services/World/GeocodeServer/findAddressCandidates"
    );
    const params = [
      ["f", "json"],
      ["magicKey", magicKey],
    ];
    url.search = new URLSearchParams(params).toString();
    const res = await fetch(url).then((response) => response.json());
    if (!res.candidates || res.candidates.length === 0) {
      return {
        address: "Nowhere",
        cache: {
          data: {
            searchEventsByGeolocation: [],
          },
        },
      };
    }
    return {
      address: res.candidates[0].address,
      cache: await client.query({
        query: SEARCH_EVENTS_BY_GEOLOCATION,
        variables: {
          longitude: res.candidates[0].location.x,
          latitude: res.candidates[0].location.y,
        },
      }),
    };
  }
</script>

<script>
  import EventList from "../../components/EventList.svelte";
  import { fadeIn, fadeOut } from "../../transitions/animations";

  export let cache;
  export let address;
</script>

<svelte:head>
  <title>Events · EventFindr</title>
</svelte:head>

<div class="container" in:fadeIn out:fadeOut>
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">Events near {address}</h1>
      </div>
    </div>
  </section>
  <EventList events={cache.data.searchEventsByGeolocation} />
</div>
