<script>
  import { client } from "../../graphql/client";
  import { SEARCH_EVENTS_BY_GEOLOCATION } from "../../graphql/queries/event";
  import EventList from "../../components/EventList.svelte";
  import { query } from "svelte-apollo";
  import { onMount } from "svelte";
  import { fadeIn, fadeOut } from "../../transitions/animations";

  let geolocationStatus = "waiting";
  let data;

  onMount(() => {
    navigator.geolocation.getCurrentPosition(
      (geolocation) => {
        geolocationStatus = "accepted";
        const latitude = geolocation.coords.latitude;
        const longitude = geolocation.coords.longitude;
        data = query(client, {
          query: SEARCH_EVENTS_BY_GEOLOCATION,
          variables: {
            longitude,
            latitude,
          },
        });
      },
      () => {
        geolocationStatus = "rejected";
      }
    );
  });
</script>

<svelte:head>
  <title>Near Me · EventFindr</title>
</svelte:head>

<div class="container" in:fadeIn out:fadeOut>
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">Near Me</h1>
      </div>
    </div>
  </section>
  {#if geolocationStatus === 'accepted'}
    {#await $data}
      <progress class="progress is-primary" max="100" />
    {:then result}
      <EventList events={result.data.searchEventsByGeolocation} />
    {:catch error}
      <div>Error: {error}</div>
    {/await}
  {:else if geolocationStatus === 'rejected'}
    <div>Error occured.</div>
  {:else}
    <progress class="progress is-primary" max="100" />
  {/if}
</div>
