@charset "utf-8";
@import "./variables";
@import "../../node_modules/bulma/bulma";
@import "../../node_modules/bulma-helpers/bulma-helpers";
@import "../../node_modules/@creativebulma/bulma-tagsinput/dist/css/bulma-tagsinput.min";
@import "../../node_modules/@creativebulma/bulma-tooltip/dist/bulma-tooltip.min";
@import "../../node_modules/vanillajs-datepicker/sass/datepicker-bulma";
@import "./navbar";

input,
select,
.tags-input,
.navbar-menu,
.icon,
a {
  transition-duration: $speed;
  transition-property: all;
  transition-timing-function: ease;
}

.is-text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
}

.tags-input .input {
  margin-right: 0;
  margin-left: 0;
}

.dropdown-menu {
  z-index: 5;
}

.icon[data-tooltip] {
  border-bottom: none;
}

.tags-input.is-filter input {
  color: #363636;
}

@include from($tablet) {
  .datepicker-dropdown {
    position: fixed;
  }
}
