.navbar-item.is-active {
  color: $link !important;
}

@include until($desktop) {
  .navbar-menu {
    display: block;
    opacity: 0;
    overflow: visible !important;

    position: absolute;
    left: 0;
    right: 0;

    transform: translateY(-50%);
    pointer-events: none;

    &.is-active {
      opacity: 1;
      transform: none;
      pointer-events: auto;
    }
  }
}
