<script context="module">
  import { client } from "../../graphql/client";
  import { GET_EVENT_BY_ID } from "../../graphql/queries/event";

  export async function preload(page) {
    const { id } = page.params;
    return {
      cache: await client.query({
        query: GET_EVENT_BY_ID,
        variables: {
          id,
        },
      }),
    };
  }
</script>

<script>
  import { fadeIn, fadeOut } from "../../transitions/animations";
  import { fly } from "svelte/transition";

  export let cache;
  let event = cache.data.eventById;
</script>

<svelte:head>
  <title>{event.name} · EventFindr</title>
</svelte:head>

<div class="container" in:fadeIn out:fadeOut>
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">{event.name}</h1>
      </div>
    </div>
  </section>
  <div class="columns is-vcentered">
    {#if event.imageUrl !== 'null'}
      <div class="column has-text-centered">
        <img
          src={event.imageUrl}
          alt="event"
          in:fly={{ delay: 300, duration: 300, x: -100 }}
          out:fly={{ duration: 300, x: -100 }} />
      </div>
    {/if}
    <div class="column">
      <div
        class="card"
        in:fly={{ delay: 300, duration: 300, x: 100 }}
        out:fly={{ duration: 300, x: 100 }}>
        <div class="card-content">
          <div class="content">
            <p>
              {@html event.summary.replace(/\n/g, '<br/>')}
            </p>
            <time datetime="2016-1-1">
              {new Date(event.date).toLocaleString()}
            </time>
          </div>
        </div>
        <footer class="card-footer">
          <a class="card-footer-item" href={event.url} target="_blank">
            Go to event
          </a>
          <p class="card-footer-item">
            By&nbsp;
            <b>{event.provider}</b>
          </p>
        </footer>
      </div>
    </div>
  </div>
</div>
