<script>
  export let event;
  export let withLink = false;
</script>

<style lang="scss">
  .event-card .card-content .content p {
    max-height: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
</style>

<div class="card has-margin-bottom-10 event-card">
  {#if event.imageUrl !== 'null'}
    <div class="card-image">
      <figure class="image">
        <img src={event.imageUrl} alt="event" />
      </figure>
    </div>
  {/if}
  <header class="card-header">
    {#if withLink}
      <a rel="prefetch" href="/event/{event.id}" class="card-header-title">
        {event.name}
      </a>
    {:else}
      <p class="card-header-title">{event.name}</p>
    {/if}
    {#if event.featured}
      <div class="card-header-icon">
        <span class="icon has-tooltip-arrow" data-tooltip="Featured event">
          <i class="fas fa-star" aria-hidden="true" />
        </span>
      </div>
    {/if}
  </header>
  <div class="card-content">
    <div class="content">
      <p>
        {@html event.summary.replace(/\n/g, '<br/>')}
      </p>
      <time>{new Date(event.date).toLocaleString()}</time>
    </div>
  </div>
  <footer class="card-footer">
    <a class="card-footer-item" href={event.url} target="_blank" rel="noopener">
      Go to event
    </a>
    <p class="card-footer-item">
      By&nbsp;
      <b>{event.provider}</b>
    </p>
  </footer>
</div>
