<script>
  import EventCard from "./EventCard.svelte";
  import { fadeIn } from "../transitions/animations";

  export let events;
  export let page;
</script>

<div class="columns is-multiline">
  {#each events as event, i}
    {#if i >= page * 10}
      <div
        class="column is-half is-one-third-widescreen is-one-quarter-fullhd"
        in:fadeIn={{ delay: 300 + (i - page * 10) * 100 }}>
        <EventCard {event} withLink />
      </div>
    {:else}
      <div class="column is-half is-one-third-widescreen is-one-quarter-fullhd">
        <EventCard {event} withLink />
      </div>
    {/if}
  {/each}
  {#if events.length === 0}
    <div class="column">
      <section class="hero">
        <div class="hero-body">
          <div class="container">
            <h2 class="subtitle">No events</h2>
          </div>
        </div>
      </section>
    </div>
  {/if}
</div>
