<footer class="footer">
  <div class="content has-text-centered">
    <p>
      EventFindr by Graphmaxer. The source code is licensed
      <a
        href="http://opensource.org/licenses/mit-license.php"
        class="has-text-link-dark">
        MIT
      </a>
      .
    </p>
  </div>
</footer>
