<script>
  import { onMount } from "svelte";
  import { readable } from "svelte/store";
  import { query } from "svelte-apollo";
  import { client } from "../graphql/client";
  import { GET_AUTOCOMPLETE_EVENTS } from "../graphql/queries/event";

  const toggleNavbar = () => {
    const navbar = document.getElementById("mainNavBar");
    const navbarBurger = document.getElementById("mainNavBarBurger");
    navbar.classList.toggle("is-active");
    navbarBurger.classList.toggle("is-active");
  };

  const hideNavbar = () => {
    const navbar = document.getElementById("mainNavBar");
    const navbarBurger = document.getElementById("mainNavBarBurger");
    navbar.classList.remove("is-active");
    navbarBurger.classList.remove("is-active");
  };

  onMount(() => {
    const navbarBurger = document.getElementById("mainNavBarBurger");
    const navbarItems = document.querySelectorAll("a.navbar-item");

    navbarBurger.addEventListener("click", () => {
      toggleNavbar();
    });

    navbarItems.forEach((el) => {
      el.addEventListener("click", () => {
        hideNavbar();
      });
    });
  });

  let searchQuery = "";
  let data = readable(
    new Promise((resolve) => resolve({ data: { autocompleteEvents: [] } }))
  );

  const showSearchResults = () => {
    document.querySelector("#event-search-dropdown").classList.add("is-active");
  };

  const hideSearchResults = () => {
    document
      .querySelector("#event-search-dropdown")
      .classList.remove("is-active");
  };

  const handleSearchQueryChange = () => {
    if (searchQuery.length > 2) {
      data = query(client, {
        query: GET_AUTOCOMPLETE_EVENTS,
        variables: {
          query: searchQuery,
        },
      });
      showSearchResults();
    } else {
      hideSearchResults();
    }
  };

  const handleSearchEventClick = () => {
    searchQuery = "";
    hideSearchResults();
  };

  export let segment;
</script>

<nav
  class="navbar is-fixed-top is-transparent has-shadow"
  role="navigation"
  aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href=".">
      <img src="logo.png" height="200" alt="logo" />
      <strong class="has-margin-left-5 is-size-5">EventFindr</strong>
    </a>
    <div
      id="mainNavBarBurger"
      class="navbar-burger burger"
      data-target="mainNavBar">
      <span aria-hidden="true" />
      <span aria-hidden="true" />
      <span aria-hidden="true" />
    </div>
  </div>
  <div id="mainNavBar" class="navbar-menu">
    <div class="navbar-start">
      <a
        class="navbar-item{segment === undefined ? ' is-active' : ''}"
        href=".">
        Home
      </a>
      <div class="navbar-item has-dropdown is-hoverable">
        <span class="navbar-link">More</span>
        <div class="navbar-dropdown is-boxed">
          <a
            class="navbar-item{segment === 'about' ? ' is-active' : ''}"
            href="about">
            About
          </a>
          <a
            rel="prefetch"
            class="navbar-item{segment === 'stats' ? ' is-active' : ''}"
            href="stats">
            Stats
          </a>
        </div>
      </div>
    </div>
    <div class="navbar-end">
      <div class="navbar-item is-hidden-desktop">
        <a href="/search/near" class="button">
          <span class="icon">
            <i class="fas fa-map-marker-alt" />
          </span>
          <span class="is-hidden-desktop">Events on my location</span>
        </a>
      </div>
      <div class="navbar-item">
        <div class="field is-grouped">
          <div class="control has-icons-left">
            <div class="dropdown" id="event-search-dropdown">
              <div class="dropdown-trigger">
                <input
                  aria-label="Search any events"
                  bind:value={searchQuery}
                  on:input={handleSearchQueryChange}
                  class="input has-width-350-desktop"
                  type="search"
                  placeholder="Search any events"
                  aria-haspopup="true"
                  aria-controls="dropdown-menu" />
              </div>
              <div
                class="dropdown-menu has-width-350-desktop"
                id="dropdown-menu"
                role="menu">
                <div class="dropdown-content">
                  {#await $data}
                    <div class="dropdown-item">Loading...</div>
                  {:then result}
                    {#each result.data.autocompleteEvents as event}
                      <a
                        href="/event/{event.id}"
                        class="dropdown-item is-text-ellipsis"
                        title={event.name}
                        on:click={handleSearchEventClick}>
                        {event.name}
                      </a>
                    {/each}
                    {#if result.data.autocompleteEvents.length == 0}
                      <div class="dropdown-item">Nothing found</div>
                    {/if}
                  {:catch error}
                    <div>Error: {error}</div>
                  {/await}
                </div>
              </div>
            </div>
            <span class="icon is-left">
              <i class="fas fa-search" />
            </span>
          </div>
          <div
            class="control is-hidden-touch"
            title="Use your current location">
            <a
              href="/search/near"
              class="button"
              aria-label="Events on my location">
              <span class="icon">
                <i class="fas fa-map-marker-alt" />
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
