<script>
  import {
    providers,
    featuredOnly,
    orderBy,
    startDate,
    endDate,
  } from "../stores/search";
  import { eventsOrderBy } from "../graphql/enums/event";
  import { onMount } from "svelte";

  export let availableProviders;

  let y;
  let searchQuery = "";
  let data = { suggestions: [] };

  onMount(async () => {
    const { default: BulmaTagsInput } = await import(
      "@creativebulma/bulma-tagsinput/dist/js/bulma-tagsinput.min"
    );
    const { DateRangePicker } = await import("vanillajs-datepicker");

    BulmaTagsInput.attach("#providers-filter", {
      caseSensitive: false,
      selectable: false,
    });
    let tagInput = document.querySelector("[data-id='providers-filter']");
    tagInput.id = tagInput.dataset.id + "-tags";

    const dateRange = document.getElementById("date-range");
    const dateRangePicker = new DateRangePicker(dateRange, {
      autohide: true,
      orientation: "bottom auto",
      todayBtn: true,
      todayBtnMode: 1,
      clearBtn: true,
      format: "dd/mm/yyyy",
      allowOneSidedRange: true,
      weekStart: 1,
    });

    if ($startDate) {
      dateRangePicker.datepickers[0].setDate($startDate);
    }
    if ($endDate) {
      dateRangePicker.datepickers[1].setDate($endDate);
    }

    dateRangePicker.inputs.forEach((input) => {
      input.addEventListener("show", (event) => {
        const computedStyle = window.getComputedStyle(
          event.detail.datepicker.picker.element
        );
        if (computedStyle.position === "fixed") {
          const top =
            parseInt(event.detail.datepicker.picker.element.style.top) - y;
          event.detail.datepicker.picker.element.style.top = `${top}px`;
        }
      });
      input.addEventListener("changeDate", () => {
        const dates = dateRangePicker.getDates();
        startDate.set(dates[0] ? dates[0] : null);
        let endDateValue = dates[1] ? dates[1] : null;
        if (endDateValue) {
          endDateValue.setHours(23, 59);
        }
        endDate.set(endDateValue);
      });
    });
  });

  const showSearchResults = () => {
    document.querySelector("#place-search-dropdown").classList.add("is-active");
  };

  const hideSearchResults = () => {
    document
      .querySelector("#place-search-dropdown")
      .classList.remove("is-active");
  };

  const handleSearchQueryChange = async () => {
    if (searchQuery.length > 2) {
      const url = new URL(
        "https://geocode.arcgis.com/arcgis/rest/services/World/GeocodeServer/suggest"
      );
      const params = [
        ["f", "json"],
        ["text", searchQuery],
      ];
      url.search = new URLSearchParams(params).toString();
      data = await fetch(url).then((response) => response.json());
      showSearchResults();
    } else {
      hideSearchResults();
    }
  };

  const handleSearchPlaceClick = () => {
    searchQuery = "";
    hideSearchResults();
  };
</script>

<style lang="scss">
  #side-menu-container {
    position: sticky;
    top: 60px;
    z-index: 10;
  }
  #date-range-label {
    margin-bottom: 0.5em;
  }
</style>

<svelte:window bind:scrollY={y} />

<div id="side-menu-container" class="container has-padding-top-10">
  <div class="field">
    <label for="place-search" class="label">Place</label>
    <div class="control has-icons-left">
      <div class="dropdown is-full-width" id="place-search-dropdown">
        <div class="dropdown-trigger is-full-width">
          <input
            id="place-search"
            bind:value={searchQuery}
            on:input={handleSearchQueryChange}
            class="input"
            type="search"
            placeholder="Search any places"
            aria-haspopup="true"
            aria-controls="dropdown-menu" />
        </div>
        <div
          class="dropdown-menu has-width-350-desktop"
          id="dropdown-menu"
          role="menu">
          <div class="dropdown-content">
            {#each data.suggestions as suggestion}
              <a
                href="/search/{suggestion.magicKey}"
                class="dropdown-item is-text-ellipsis"
                title={suggestion.text}
                on:click={handleSearchPlaceClick}>
                {suggestion.text}
              </a>
            {/each}
          </div>
        </div>
      </div>
      <span class="icon is-left">
        <i class="fas fa-search" />
      </span>
    </div>
  </div>
  <div class="field">
    <label for="providers-filter-tags" class="label">Providers</label>
    <div class="control">
      <select
        id="providers-filter"
        bind:value={$providers}
        multiple
        data-type="tags"
        data-placeholder="Choose providers">
        {#each availableProviders as provider}
          <option value={provider.name} selected>{provider.name}</option>
        {/each}
      </select>
    </div>
  </div>
  <div class="field" id="date-range-label">
    <label class="label">Date range</label>
  </div>
  <div id="date-range" class="field has-addons">
    <div class="control">
      <input
        type="text"
        class="input datepicker-input"
        aria-label="Start date" />
    </div>
    <div class="control">
      <span class="button is-static">to</span>
    </div>
    <div class="control">
      <input type="text" class="input datepicker-input" aria-label="End date" />
    </div>
  </div>
  <div class="field">
    <label for="order-by-sort" class="label">Sort by</label>
    <div class="control">
      <div class="select">
        <select id="order-by-sort" bind:value={$orderBy}>
          {#each eventsOrderBy as { name, value }}
            <option {value}>{name}</option>
          {/each}
        </select>
      </div>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <label class="checkbox">
        <input type="checkbox" bind:checked={$featuredOnly} />
        Featured events only
      </label>
    </div>
  </div>
</div>
